
@mixin  main-container {
   width: 1170px;
   margin: auto;
}

@mixin setting-three_point {
   width: 70% ;// chiều rộng bằng khối bao nó
   height: 20px;
   overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
   text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
   -webkit-line-clamp: 1;// số dòng muốn hiển thị
   -webkit-box-orient: vertical;
   display: -webkit-box;

  
}

@mixin  setting-three_point_2 {
   display: -webkit-box;
   height: 100%;
   font-size: 16px;
   line-height: 1.3;
   -webkit-line-clamp: 1;  /* số dòng hiển thị */
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-top:10px;
}

@mixin setting-three-point_3 {
   display: -webkit-box;
   width: 100%;
   height: 42px;
   font-size: 16px;
   line-height: 1.3;
   -webkit-line-clamp: 2;  /* số dòng hiển thị */
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   margin-top:10px;
   margin-bottom: 15px;
}



@mixin main-container {
   width: 1170px;
   position: relative;
   background-color: white;
   border-radius: 10px;
   margin-top: 5%;
}

@mixin flex-center{
   display: flex;
   justify-content: center;
   align-items: center;
}